
.splash{
  height:100vh;
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#ffffff;
  position:relative;
  font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,sans-serif;
}

/* Center */

.splash-center{
  display:flex;
  justify-content:center;
  align-items:center;
}

/* Logo */

.logo-wrapper img{
  width:250px;
  height:250px;
  object-fit:contain;
}

/* Footer */

.splash-footer{
  position:absolute;
  bottom:45px;
  text-align:center;
  color:#6b7280;
  font-size:14px;
}

.splash-footer span{
  display:block;
  font-weight:600;
  color:#111827;
}